<div class="lgcab-contact">
  <div class="lgcab-contact__item">
    <h3 class="lgcab-contact__header">TELEFON</h3>
    <p class="lgcab-contact__text">0703-34 92 23</p>
    <h3 class="lgcab-contact__header">E-POST</h3>
    <p class="lgcab-contact__text">lennart@lgcab.se</p>
  </div>
  <div class="lgcab-contact__item">
    <h3 class="lgcab-contact__header">BESÖKSADRESS</h3>
    <p class="lgcab-contact__text">C/O Ytterman Projekt AB</p>
    <p class="lgcab-contact__text">Alströmergatan 14</p>
    <p class="lgcab-contact__text">SE-102 28 Stockholm</p>
  </div>
  <div class="lgcab-contact__item">
    <h3 class="lgcab-contact__header">POSTADRESS</h3>
    <p class="lgcab-contact__text">Svartviksslingan 69</p>
    <p class="lgcab-contact__text">SE-167 38 Bromma</p>
  </div>
  <div class="lgcab-contact__item">
    <h3 class="lgcab-contact__header">ORGANISATIONSNUMMER</h3>
    <div class="lgcab-conact__text">556394-2530</div>
  </div>
</div>
