.lgcab-welcome {
  &__intro {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #666;
  }

  // &__certificates {
  //   display: flex;
  //   flex-direction: column;

  //   @media only screen and (min-width: 768px) {
  //     flex-direction: row;
  //   }
  // }

  &__certificate-img {
    img {
      max-width: 100%;
    }
  }
}
