<div class="lgcab-welcome">
  <h2 class="lgcab-welcome__header">Välkommen.</h2>

  <p class="lgcab-welcome__intro">
    VI ÄR PROJEKTLEDARE. DET SÄGER ALLT OCH INGENTING. IBLAND LÄGGER VI TILL ATT VI HJÄLPER FÖRETAG I FÖRÄNDRING.
    TROLIGEN BLIR MAN INTE KLOKARE AV DET HELLER.
  </p>

  <div class="lgcab-welcome__description">
    <p>
      Vad vi gör kanske bäst beskrivs av några exempel: Ditt företag växer så det knakar. Expanderat på alla sätt och
      alla områden, även i antal medarbetare. Ni måste ta tag i lokalfrågan. Fler arbetsplatser i befintliga lokaler?
      Köpa loss angränsande lokaler? Hitta nya lokaler?
    </p>
    <p>
      Många går i fällan och försöker lösa det hela internt. Binder upp dugliga medarbetare på jobb de (i normala fall)
      aldrig gjort. Göra kravspec. Hitta lösningar. Förhandla tillstånd, hyror, hantverkare, leverantörer. Möbler?
      Arkiv? Tele&data? Göra budget, tidsplan och logistik för alla delar och kanske ansvara för att det fungerar i
      slutänden. Vad kostar en missad vecka om verksamheten inte fungerar?
    </p>

    <p>Det är vår vardag.</p>

    <p>Eller tänk dig till exempel att kostymen är för stor. Ni måste banta!</p>
    <p>
      Hyra ut delar? Anpassa dem för nya hyresgäster? Eller hitta nya, mindre lokaler... Och så vidare. Alla företag
      förändras över tiden, mer eller mindre.
    </p>
    <p>
      Eller kanske du äger fastigheter. Gamla fastigheter. Och står inför det kända problemet att göra stambyte. Ett
      projekt vars komplexitet är lite större än den dagliga förvaltningen och underhållet.
    </p>
    <p>Vi finns här för att hjälpa er med den fysiska verkligheten i alla sådana processer.</p>
  </div>
  <div class="lgcab-welcome__certificates row mt-4">
    <div class="lgcab-welcome__certificate-img col-6">
      <img src="https://www.uc.se/ucsigill2/sigill?org=556394-2530&amp;language=swe&amp;product=lsa&amp;fontcolor=b" />
    </div>
    <div class="lgcab-welcome__certificate-img col-6">
      <img
        src="https://merit.soliditet.se/merit/imageGenerator/display?lang=SE&amp;country=SE&amp;cId=qp7MDKg2KoRaFfzu8sFeiw%3D%3D&amp;cUid=CfGEsgYBads%3D&amp;imgType=img_273_73_px_tr1"
        id="img_273_73_px_tr1"
        alt="Vi är ett kreditvärdigt företag enligt Bisnodes värderingssystem som baserar sig på en mängd olika beslutsregler. Denna uppgift är alltid aktuell, informationen uppdateras dagligen via Bisnodes databas."
        title="Vi är ett kreditvärdigt företag enligt Bisnodes värderingssystem som baserar sig på en mängd olika beslutsregler. Denna uppgift är alltid aktuell, informationen uppdateras dagligen via Bisnodes databas."
      />
    </div>
  </div>
</div>
