<div class="lgcab-welcome">
  <h2 class="lgcab-welcome__header">{{ pageComponent?.title }}</h2>

  <p class="lgcab-welcome__intro" *ngIf="pageComponent?.preamble">{{ pageComponent?.preamble }}</p>

  <div class="lgcab-welcome__description"><markdown [data]="pageComponent?.content"></markdown></div>
  <div class="lgcab-welcome__certificates row mt-4">
    <div class="lgcab-welcome__certificate-img col-6">
      <img src="https://www.uc.se/ucsigill2/sigill?org=556394-2530&amp;language=swe&amp;product=lsa&amp;fontcolor=b" />
    </div>
    <div class="lgcab-welcome__certificate-img col-6">
      <img
        src="https://merit.soliditet.se/merit/imageGenerator/display?lang=SE&amp;country=SE&amp;cId=qp7MDKg2KoRaFfzu8sFeiw%3D%3D&amp;cUid=CfGEsgYBads%3D&amp;imgType=img_273_73_px_tr1"
        id="img_273_73_px_tr1"
        alt="Vi är ett kreditvärdigt företag enligt Bisnodes värderingssystem som baserar sig på en mängd olika beslutsregler. Denna uppgift är alltid aktuell, informationen uppdateras dagligen via Bisnodes databas."
        title="Vi är ett kreditvärdigt företag enligt Bisnodes värderingssystem som baserar sig på en mängd olika beslutsregler. Denna uppgift är alltid aktuell, informationen uppdateras dagligen via Bisnodes databas."
      />
    </div>
  </div>
</div>
