.lgcab-footer {
  background-color: #333;
  margin-top: 4rem;

  &__inner {
    padding: 68px 34px 0;
    margin: auto;
    max-width: 1080px;
    overflow: hidden;
  }

  &__text {
    color: #fff;
    text-align: center;
  }
}
