.lgcab-footer {
  background-color: #333;
  margin-top: 4rem;

  &__inner {
    padding: 32px;
    margin: auto;
    max-width: 1080px;
    overflow: hidden;
  }

  &__text {
    color: #fff;
    text-align: center;
    margin: 0;
  }

  &__logo {
    max-height: 50px;
    margin-left: 0.5rem;
  }
}
