.lgcab-splash {
  background-size: cover;
  position: relative;
  overflow: hidden;

  &__slogan {
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    position: relative;

    h1 {
      font-size: 10vw;
      color: white;
      font-weight: 600;
    }

    h2 {
      font-size: 4vw;
      color: white;
      font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 8vw;
      }
      h2 {
        font-size: 4vw;
      }
    }

    @media only screen and (min-width: 1200px) {
      h1 {
        font-size: 6vw;
      }
      h2 {
        font-size: 3vw;
      }
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }

  &__cta {
    position: relative;
    text-align: center;
    margin-top: 3rem;
  }

  &__btn {
    position: relative;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #f1b32d;
    color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    font-weight: 500;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);

    &:after {
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 50px;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
      text-decoration: none;
      transform: scale(1.2);

      &:after {
        opacity: 1;
      }
    }
  }
}
