.lgcab-splash {
  background-size: cover;
  position: relative;
  overflow: hidden;

  &__slogan {
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    position: relative;

    h1 {
      font-size: 10vw;
      color: white;
      font-weight: 600;
    }

    h2 {
      font-size: 4vw;
      color: white;
      font-weight: 400;
    }

    @media only screen and (min-width: 768px) {
      h1 {
        font-size: 8vw;
      }
      h2 {
        font-size: 4vw;
      }
    }

    @media only screen and (min-width: 1200px) {
      h1 {
        font-size: 6vw;
      }
      h2 {
        font-size: 3vw;
      }
    }
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}
