.lgcab-page-section {

    display: flex;
    flex-direction: column;

    &__header {
        word-break: break-word;
    }

    &__img {
        img {
            max-width: 100%;
            max-height: 100px
        }
    }

    @media only screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;

        &__img {
            max-width: 20%;
            margin-left: 2rem;
            margin-top: 1rem;

            img {
                max-width: 100%;
                max-height: inherit;
            }
        }
    }
}