<div class="lgcab-projects lgcab-page">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col">
        <h1>Uppdrag</h1>

        <div class="row">
          <div *ngFor="let project of projects | async" class="col-md-6 mb-3">
            <mat-card class="lgcab-project">
              <a href="javascript:void(0)" (click)="openDialog(project)" class="lgcab-project__link">{{
                project.title
              }}</a>
              <mat-card-header>
                <mat-card-title>{{ project.title }}</mat-card-title>
                <mat-card-subtitle
                  ><span class="lgcab-project__role">{{ project.role }}</span></mat-card-subtitle
                >
              </mat-card-header>
              <!-- <mat-card-content>
                <div class="lgcab-project__description"><markdown [data]="project.description"></markdown></div>
              </mat-card-content> -->
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
