.lgcab-project {
  height: 100%;
  position: relative;
  padding: 16px;

  .mat-mdc-card-header,
  .mat-card-header {
    padding: 0;
  }

  .mat-mdc-card-title,
  .mat-card-title {
    margin: 0 0 12px;
  }

  .mat-mdc-card-subtitle,
  .mat-card-subtitle {
    margin: -8px 0 16px;
  }

  &:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }

  &__role {
    text-transform: uppercase;
  }

  &__header {
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 0;
  }
}
