<nav class="lgcab-nav">
  <div class="lgcab-nav__item lgcab-nav__item--active"><a href="/#home-section"> START </a></div>

  <div class="lgcab-nav__item"><a href="/#valkommen-section"> VÄLKOMMEN </a></div>

  <div class="lgcab-nav__item"><a href="/#filosofi-section"> Filosofi </a></div>

  <div class="lgcab-nav__item"><a href="/#pbl-section"> PBL </a></div>

  <div class="lgcab-nav__item lgcab-nav__item--active"><a href="/"> Welcome </a></div>

  <div class="lgcab-nav__item"><a href="/uppdrag/"> Uppdrag </a></div>
</nav>
