<nav class="lgcab-nav">
  <div class="lgcab-nav__item d-none d-md-block lgcab-nav__item--active"><a href="#home-section"> Start </a></div>

  <div class="lgcab-nav__item d-none d-md-block"><a href="#valkommen-section"> Välkommen </a></div>

  <div class="lgcab-nav__item d-none d-md-block"><a href="#contact-section"> Kontakt </a></div>

  <div class="lgcab-nav__item lgcab-nav__item--hero"><a href="/">LGCAB</a></div>

  <div class="lgcab-nav__item d-none d-md-block"><a href="#filosofi-section"> Filosofi </a></div>

  <div class="lgcab-nav__item d-none d-md-block"><a href="#pbl-section"> PBL </a></div>

  <div class="lgcab-nav__item d-none d-md-block"><a href="/uppdrag/"> Uppdrag </a></div>

  <div class="lgcab-nav__mobile d-block d-md-none">
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
      <a href="#home-section" mat-menu-item> Start </a> <a href="#valkommen-section" mat-menu-item> Välkommen </a>
      <a href="#filosofi-section" mat-menu-item> Filosofi </a> <a href="#pbl-section" mat-menu-item> PBL </a>
      <a href="/uppdrag/" mat-menu-item> Uppdrag </a>
    </mat-menu>
  </div>
</nav>
