<nav class="lgcab-nav" role="navigation">
  <div class="lgcab-nav__item d-none d-md-block lgcab-nav__item--active"><a href="#home-section">Start</a></div>
  <!-- <div class="lgcab-nav__item d-none d-md-block"><a href="#valkommen-section">Om oss</a></div> -->
  <div class="lgcab-nav__item d-none d-md-block"><a href="#contact-section">Kontaktuppgifter</a></div>
  <div class="lgcab-nav__item d-none d-md-block"><a href="#pbl-section">Kontrollansvarig</a></div>
  <div class="lgcab-nav__item lgcab-nav__item--hero">
    <a href="/"><span>LGCAB</span><img class="sr-hidden" alt="Logotyp" src="/assets/logo.png"/></a>
  </div>
  <div class="lgcab-nav__item d-none d-md-block"><a href="#eb-section">Entrepenadbesiktning</a></div>
  <div class="lgcab-nav__item d-none d-md-block"><a href="#filosofi-section">Filosofi</a></div>
  <div class="lgcab-nav__item d-none d-md-block"><a href="/uppdrag/index.html">Uppdrag</a></div>

  <div class="lgcab-nav__mobile d-block d-md-none">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="true">more_vert</mat-icon><span class="sr-only">Meny</span>
    </button>
    <mat-menu #menu="matMenu">
      <a href="#home-section" mat-menu-item>Start</a>
      <a href="#contact-section" mat-menu-item>Kontaktuppgifter</a>
      <a href="#pbl-section" mat-menu-item>Kontrollansvarig</a>
      <a href="#eb-section" mat-menu-item>Entrepenadbesiktning</a>
      <a href="#filosofi-section" mat-menu-item>Filosofi</a>
      <a href="/uppdrag/index.html" mat-menu-item>Uppdrag</a>
    </mat-menu>
  </div>
</nav>
