/* You can add global styles to this file, and also import other style files */

@import 'bootstrap-custom';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
}


html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #0056b3;
    text-decoration: none;
  }
}

markdown a[target=_blank]:after,
.lgcab-page-section a[target="_blank"]::after {
  content: "open_in_new";
  font-family: 'Material Icons';
  margin-left: .125rem;
}

.lgcab-grey {
  display: block;
  background-color: #f5f5f5;
}

.lgcab-anchor {
  position: relative;
  top: -120px;
}

.lgcab-page {
  &:before {
    content: '';
    display: block;
    min-height: 96px;
    background-color: #333;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
      0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  }
}
